.shopContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.buyContainer1 {
    margin: 30px;
    flex: 2;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; 
}

.menu1 .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 0;
    scroll-behavior: smooth;
    margin: 50px 0;
    height: 100%;
    width: 100%;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.menu1 .carousel.dragging img {
        pointer-events: none;
    }

.menu1 .carousel img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        margin-right: 20px;
    }

        .carousel img:first-child {
            margin-left: 0px;
        }

    .carousel a {
        margin: 0;
        padding: 0;
    }

.menu1 {
    max-width: 100%;
    position: relative;
}

#left, #right {
    top: 50%;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: black;
    border-radius: 50%;
    line-height: 46px;
    font-size: 28px;
    height: 46px;
    width: 46px;
    color: white;
    text-align: center;
    z-index: 99;
}

.menu1 span:first-child {
    left: -12px;
}

.menu1 span:last-child {
    right: -22px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.shopContainer2 {
    flex: 1;
    padding: 80px;
    border-left: 2px solid #ccc;
}

.shopContainer2p {
    display: block;
}

.shopContainer2p:not(:first-child){
    margin-top:100px;
}

    .shopContainer2p h2 {
        font-weight: 600;
        font-size:25px;
    }

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.optionstext {
    font-size: 20px;
    margin:10px 0;
}

.addToCartButton {
    margin-top: 50px;
    padding:15px;
    background-color: #306fdb;
    color: white;
    border: none;
    border-radius: 15px;
}

.productContainer{
    display:block;
    width:100%;
}

.ddlSelector {
    padding: 10px;
}

.quantitySelector{
    border:1px solid black;
    border-radius:5px;
    padding:10px;
    color:black;
}

.productName {
    text-align: left;
    padding: 10px 0px 0px 65px;
}

    .productName h1 {
        font-size: 46px;
        font-weight: 600;
    }

.productNew {
    padding: 30px 0px 0px 65px;
    text-align:left;
}

.productNew h3 {
    color:#a94c41;
    font-weight:400;
    font-size:18px;
}

